@import '~antd/dist/antd.css';

.items-list {
    margin-top: 0.5%;
    margin-left: 25%;
    width: 50%;
}

.todo-item-div {
    margin-top: 1%;
}

.state-span {
    float: right;
    font-weight: bold;
    width: 100%;
}

.buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.assignee-span {
    font-weight: bold;
}

.deadline-span {
    font-style: italic;
}

.text-div {
    text-align: center;
    overflow: hidden;
    font-size: 1.2rem;
}

.create-item-btn {
    width: 50%; 
    margin-left: 25%;
}

.edit-item-btn {
    width: 50%;
    margin-left: 25%;
}