@import '~antd/dist/antd.css';

.items-list {
    margin-top: 0.5%;
    margin-left: 25%;
    width: 50%;
}

.todo-item-div {
    border: 1px solid black;
    padding: 0.7%;
    margin-top: 0.5%;
}

.state-span {
    float: right;
    font-weight: bold;
}

.edit-btn {
    float: right;
}

.assignee-span {
    font-weight: bold;
}

.text-div {
    text-align: center;
}